* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #5344db;
    --accent-color: #5344db;
    --grey: #484848;
    --bg-grey: #efefef;
    --shadow: #949494;
}

.container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.row {
    display: flex;
    gap: 20px;
}

.col-6 {
    width: 100%;
}

.single-property {
    width: 1800px;
    position: relative;
}

/** Breadcrumb **/

.single-property .breadcrumb {
    background: #48484810;
    padding: 8px 4px;
    border-radius: 8px;
    font-size: 15px;
}

.breadcrumb span {
    display: inline-flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 8px;
}

.breadcrumb span:not(:last-child)::after {
    content: '/';
}

.breadcrumb span a {
    text-decoration: none;
    color: var(--primary-color);
}

/** property image **/

.single-property .property-image {
    width: 100%;
}

.property-image .property-image-main {
    position: relative;
    display: block;
    height: 480px;
    background: var(--bg-grey);
    padding: 10px;
}

.property-image-main img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.property-image-slider {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.property-image-slider img {
    width: 90px;
    height: 90px;
    background: var(--bg-grey);
    padding: 6px;
    cursor: pointer;
}

/** property title **/

.property-title h2 {
    font-size: 32px;
    line-height: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
}

/** property rating **/
.property-rating {
    display: flex;
    margin-top: 4px;
    margin-bottom: 10px;
    align-items: center;
}

.property-rating span:not(:last-child) {
    color: #ffc600;
}

.property-rating .review {
    color: var(--grey);
    font-size: 12px;
    font-weight: 500;
}

/** property price **/
.property-price {
    display: flex;
    position: relative;
    margin: 10px 0;
    align-items: center;
}

.property-price .offer-price {
    font-size: 38px;
    font-weight: 700;
}

.property-price .sale-price {
    font-size: 22px;
    font-weight: 500;
    text-decoration: line-through;
    color: var(--grey);
    margin-left: 12px;
}

/** property Details **/
.property-details {
    margin: 10px 0;
}

.property-details h3 {
    font-size: 28px;
    font-weight: 500;
}

.property-details p {
    margin: 5px 0;
    font-size: 24px;
    line-height: 2rem;
}

/** property size **/
.property-size {
    margin: 10px 0;
}

.property-size h4 {
    font-size: 16px;
    font-weight: 500;
}

.property-size .size-layout {
    margin: 5px 0;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.property-size .size-layout .size-input {
    display: none;
}

.property-size .size-layout .size {
    background: var(--bg-grey);
    padding: 10px 18px;
    border: 1px solid var(--bg-grey);
    border-radius: 4px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.property-size .size-layout .size:hover {
    border: 1px solid var(--grey);
}

.property-size .size-layout input[type="radio"]:checked+.size {
    background-color: rgb(35, 35, 35);
    border: 1px solid var(--grey);
    color: var(--bg-grey);
    box-shadow: 0 3px 6px var(--shadow);

}


/** property Color **/
.property-color {
    margin: 10px 0;
    justify-content: center;
}

.property-color h4 {
    font-size: 16px;
    font-weight: 500;
}

.property-color .color-layout {
    margin: 5px 0;
    display: flex;
    gap: 10px;
}

.property-color .color-layout label {
    border-radius: 4px;
    cursor: pointer;
    content: '';
    width: 40px;
    height: 40px;
    display: inline-block;
}

.property-color .color-layout .black {

    background-color: black;
}

.property-color .color-layout .red {
    background-color: red;
}

.property-color .color-layout .blue {
    background-color: blue;
}

.property-color .color-layout input[type="radio"]:checked+label {
    box-shadow: 0 3px 6px var(--shadow);
}

.property-color .color-layout .color-input {
    display: none;
}


/** divider **/
.divider {
    display: block;
    height: 1px;
    width: 100%;
    background: #48484830;
    margin: 20px 0;
}

/** property Button Group **/

.property-btn-group {
    display: flex;
    gap: 15px;
}

.property-btn-group .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
}

.property-btn-group .buy-now {
    background-color: var(--accent-color);
    color: #fff;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
}

.property-btn-group .buy-now i {
    font-size: 20px;
}

.property-btn-group .buy-now:hover {
    box-shadow: 0 3px 6px var(--shadow);
}

.property-btn-group .add-cart {

    background-color: var(--bg-grey);
    color: var(--grey);
    border-radius: 4px;
    cursor: pointer;
}

.property-btn-group .add-cart i {
    font-size: 20px;
}

.property-btn-group .add-cart:hover {
    box-shadow: 0 3px 6px var(--shadow);
    background: var(--grey);
    color: #fff;
}

.property-btn-group .heart {
    background-color: var(--bg-grey);
    color: var(--grey);
    cursor: pointer;
}

.property-btn-group .heart i {
    font-size: 20px;
}

.property-btn-group .heart:hover {
    color: var(--accent-color);
}


/** Responsive Mobile **/
@media screen and (max-width:520px) {
    .container {
        padding: 10px;
        height: auto;
    }

    .row {
        display: block;
    }

    .col-6 {
        width: 100%;
        display: block;
    }

    .single-property {
        width: 100%;
        position: relative;
    }

    .property-image .property-image-main {
        width: 100%;
        height: 280px;
    }

    .property-image-slider {
        gap: 5px;
    }

    .breadcrumb {
        display: none;
    }

    .property-title h2 {
        font-size: 24px;
        line-height: 1.6rem;
    }

    .property-size {
        display: block;
    }

    .property-size .size-layout {
        display: block;
        margin: 10px 0;

    }

    .property-size .size-layout .size {
        padding: 6px 10px;
    }

    .property-btn-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

/** Responsive Tablet **/
@media (min-width: 520px) and (max-width: 1080px) {
    .container {
        display: block;
        height: auto;
        padding: 20px;
    }

}